# ======================================================
# reference.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================
[marshalling]
serialize_format=json
deserialize_format=json

[cloudkeep]
base_url=<base_url>
api_version=v1
tenant_id=test_tenant
# these max values should match the values in
# /etc/barbican/barbican-api.conf
max_allowed_secret_in_bytes = 10000
max_allowed_request_size_in_bytes = 1000000

[cloudkeep-rbac-role-users]
admin=<rbac_admin>
admin_password=<rbac_admin_password>
creator=<rbac_creator>
creator_password=<rbac_creator_password>
observer=<rbac_observer>
observer_password=<rbac_observer_password>
audit=<rbac_audit>
audit_password=<rbac_audit_password>

[cloudkeep-secrets]
name=aes_key
algorithm=aes
bit_length=256
mode=CDC
payload=testdata
payload_content_type=application/octet-stream
payload_content_encoding=base64

[cloudkeep-verifications]
resource_ref=<resource_ref>
resource_type=image
resource_action=vm_attach
impersonation_allowed=False

[cloudkeep-orders]
name=secretname
algorithm=aes
bit_length=256
mode=cbc
payload_content_type=application/octet-stream
payload_content_encoding=base64

[tokens_api]
auth_type=<auth_type>
authentication_endpoint=<auth_endpoint>
username=<keystone_user>
password=<keystone_password>
tenant_name=<keystone_tenant_name>

[GITHUB]
token=<github_token>
repo=cloudkeep/barbican

[LAUNCHPAD]
project=barbican