# ======================================================
# reference.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================
[marshalling]
serialize_format=json
deserialize_format=json

[cloudkeep]
base_url=http://localhost:8080
api_version=v1