# ======================================================
# dbaas.qa.config
# Use this configuration file to run against QA env
# ======================================================

[marshalling]
serializer=json
deserializer=json

[token_api]
authentication_endpoint=https://staging.identity.api.rackspacecloud.com
username=rbacdefbehavior
api_key=%04Oa304w5
password=%04Oa304w5
tenant_name=5846024
version=v2.0

[database]
host=https://api.staging.ord1.clouddb.rackspace.net/v1.0
mgmt_host=https://mgmt.staging.ord1.clouddb.rackspace.net/v1.0
mgmt_base_url=https://auth.staging.ord1.clouddb.rackspace.net
version_url=https://api.staging.ord1.clouddb.rackspace.net
mgmt_tenant_id=qaadmin
tenant_id=5846024
stability_mode=True
mgmt_username=qaadmin
mgmt_api_key=exoob4ajeish8Ohv
rp_admin_user=cdbreposeadmin
rp_admin_pw=Dbaasrepose1
creator_user=reposecreator
creator_pw=2?2b80e3Vb
observer_user=reposeobserver
observer_pw=3Q?w8838e5
perf_serv=166.78.7.16
perf_serv_user=root
perf_serv_pass=25zQJZ3rFnJw
graphiteEndpoint=ops-n01.dfw.clouddb.rackspace.net
atom_hopper_url=https://atom.staging.ord1.us.ci.rackspace.net
atom_hopper_feed_limit=5
atom_hopper_pagination_limit=2