[marshalling]
serializer=json
deserializer=json

[meniscus]
base_url=<base_url>
api_version=v1
db_hosts=<db_address>
db_name=<db_name>
db_username=<db_username>
db_password=<db_password>

[meniscus-storage]
address=<storage_address>

[meniscus-tenant]
hostname=testhost
ip_address_v4=127.0.0.1
ip_address_v6=::1
producer_name=testapp
producer_pattern=syslog
producer_durable=true
producer_encrypted=false
profile_name=appservers-1

[meniscus-correlation]
correlator_base_url=<correlator_base_url>
syslog_endpoint=<syslog_endpoint>
host=sample.projectmeniscus.org
pname=webapp-1.0
time=2013-06-06T17:00:43.563532
native={"my_field":"my_value","my_value":12345,"extended":{"customer":"54789"}}

[GITHUB]
token=<github_token>
repo=ProjectMeniscus/meniscus
