[marshalling]
serializer=json
deserializer=json

[meniscus]
base_url=<base_url>
api_version=v1
db_host=<db_address>
db_name=<db_name>
db_username=<db_username>
db_password=<db_password>

[meniscus-tenant]
hostname=testhost
ip_address_v4=127.0.0.1
ip_address_v6=::1
producer_name=testapp
producer_pattern=syslog
producer_durable=true
producer_encrypted=false
profile_name=appservers-1

[meniscus-pairing]
hostname=testhost
coordinator_base_url=<coordinator_base_url>
worker_base_url=<worker_base_url>
ip_address_v4=127.0.0.1
ip_address_v6=::1
os_type=Linux
memory_mb=1024
arch=x86_64
api_secret=<api_secret>
personality=worker
cpu_cores=4
load_average={"1": 0.2,"5": 1,"15": 0.9}
disks=[{"device":"/dev/sda1", "total": 313764528, "used": 112512436}]

[meniscus-correlation]
correlator_base_url=<correlator_base_url>
host=sample.projectmeniscus.org
pname=webapp-1.0
time=2013-06-06T17:00:43.563532
native={"my_field":"my_value","my_value":12345,"extended":{"customer":"54789"}}
