# ======================================================
# devstack.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a devstack configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[marshalling]
serialize_format=json
deserialize_format=json

[user_auth_config]
endpoint=<auth_endpoint>
strategy=keystone

[compute]
hypervisor=qemu

[compute_admin_auth_config]
endpoint=<auth_endpoint>
strategy=keystone

[compute_endpoint]
region=RegionOne
compute_endpoint_name=nova

[compute_admin_endpoint]
region=RegionOne
compute_endpoint_name=nova

[user]
# This should not be an admin user
username=demo
password=password
tenant_name=demo

[compute_admin_user]
username=admin
password=password
tenant_name=admin

[compute_secondary_user]
# This should not be an admin user
username=<username>
password=<password>
tenant_name=<tenant_name>

[flavors]
primary_flavor=42
secondary_flavor=84

[images]
primary_image=<image_id>
secondary_image=<different_image_id>
image_status_interval=15
snapshot_timeout=900
can_get_deleted_image=false

[servers]
server_status_interval=15
server_build_timeout=600
server_resize_timeout=1800
network_for_ssh=public
ip_address_version_for_ssh=4
instance_disk_path=/dev/xvda
connection_retry_interval=15
connection_timeout=600
