# ======================================================
# devstack.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a devstack configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[marshalling]
serialize_format=json
deserialize_format=json

[user_auth_config]
endpoint=<auth_endpoint>
strategy=keystone

[compute_admin_auth_config]
endpoint=<auth_endpoint>
strategy=keystone

[compute_endpoint]
region=RegionOne
compute_endpoint_name=nova

[compute_admin_endpoint]
region=RegionOne
compute_endpoint_name=nova

[user]
username=demo
password=password
tenant_name=demo
tenant_id=<tenant_id>
user_id=<user_id>
project_id=<project_id>

[compute]
hypervisor=qemu

[compute_admin_user]
username=admin
password=password
tenant_name=admin

[compute_secondary_user]
username=demo
password=password
tenant_name=demo

[flavors]
primary_flavor=42
secondary_flavor=84
resize_enabled=True

[images]
primary_image=<image_id>
secondary_image=<different_image_id>
image_status_interval=15
snapshot_timeout=900
can_get_deleted_image=false
primary_image_has_protected_properties=false
primary_image_default_user=cirros

[servers]
instance_auth_strategy=key
server_status_interval=15
server_build_timeout=600
server_resize_timeout=1800
network_for_ssh=private
ip_address_version_for_ssh=4
instance_disk_path=/dev/xvda
connection_retry_interval=15
connection_timeout=600
split_ephemeral_disk_enabled=false
resource_build_attempts=1
disk_format_type=ext3
personality_file_injection_enabled=true
default_file_path=/
expected_networks={"private": {"v4": true, "v6": false}}

[config_drive]
openstack_meta_path=/mnt/config/openstack/latest/meta_data.json
ec_meta_path=/mnt/config/ec2/latest/meta-data.json
base_path_to_mount=/mnt/config
mount_source_path=/dev/disk/by-label/config-2
min_size=20
max_size=35
