# ======================================================
# devstack.json.config
# ------------------------------------------------------
# This configuration is specifically a reference 
# implementation for a devstack configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you 
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================
[marshalling]
serializer=xml
deserializer=xml

[token_api]
authentication_endpoint=http://111.111.111.111:1000
username=<UID>
password=<PWD>
tenant_name=<TENANT_NAME>
version=v2.0

[flavors]
primary_flavor=42
secondary_flavor=84

[images]
primary_image=23363db8-c2ea-484d-81d5-9cc20a46be47
secondary_image=23363db8-c2ea-484d-81d5-9cc20a46be47
image_status_interval=15
snapshot_timeout=900

[servers]
server_status_interval=15
server_build_timeout=600
server_resize_timeout=1800
network_for_ssh=public
ip_address_version_for_ssh=4
instance_disk_path=/dev/xvda

[compute]
region=<REGION>
compute_endpoint_name=<COMPUTE>


