# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[marshalling]
serialize_format=xml
deserialize_format=xml

[user_auth_config]
endpoint=<auth_endpoint>
strategy=<keystone/rax_auth>

[compute]
hypervisor=<kvm/qemu/xen_server>

[compute_admin_auth_config]
endpoint=<auth_endpoint>
strategy=<keystone/rax_auth>

[compute_endpoint]
region=<region>
compute_endpoint_name=<compute_name>

[compute_admin_endpoint]
region=<region>
compute_endpoint_name=<compute_name>

[user]
# This should not be an admin user
username=<username>
password=<password>
tenant_name=<tenant_name>

[compute_admin_user]
username=<username>
password=<password>
tenant_name=<tenant_name>

[compute_secondary_user]
# This should not be an admin user
username=<username>
password=<password>
tenant_name=<tenant_name>

[flavors]
primary_flavor=<flavor_id>
secondary_flavor=<different_flavor_id>

[images]
primary_image=<image_id>
secondary_image=<different_image_id>
image_status_interval=15
snapshot_timeout=900
can_get_deleted_image=<true/false>

[servers]
server_status_interval=15
server_build_timeout=600
server_resize_timeout=1800
network_for_ssh=<public/private>
ip_address_version_for_ssh=<4/6>
instance_disk_path=<path_of_instance_primary_disk>
connection_retry_interval=15
connection_timeout=600
