# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
# ======================================================

[marshalling]
serialize_format=json
deserialize_format=json

[user_auth_config]
endpoint=<auth_endpoint>
strategy=<keystone/rax_auth>

[compute]
hypervisor=<kvm/qemu/xen_server/bare_metal/lxc>

[compute_admin_auth_config]
endpoint=<auth_endpoint>
strategy=<keystone/rax_auth>

[compute_endpoint]
region=<region>
compute_endpoint_name=<compute_name>

[compute_admin_endpoint]
region=<region>
compute_endpoint_name=<compute_name>

[user]
# This should not be an admin user
username=<username>
password=<password>
tenant_id=<tenant_id>
user_id=<user_id>
project_id=<project_id>

[compute_admin_user]
username=<username>
password=<password>
tenant_name=<tenant_name>

[compute_secondary_user]
# This should not be an admin user
username=<username>
password=<password>
tenant_name=<tenant_name>

[flavors]
primary_flavor=<flavor_id>
secondary_flavor=<different_flavor_id>
resize_enabled=<True/False>

[images]
primary_image=<image_id>
secondary_image=<different_image_id>
image_status_interval=15
snapshot_timeout=900
can_get_deleted_image=<True/False>
primary_image_has_protected_properties=<True/False>
primary_image_default_user=<user>
non_inherited_metadata_filepath=<file_path>

[servers]
instance_auth_strategy=<password/key>
server_status_interval=15
server_build_timeout=600
server_resize_timeout=1800
network_for_ssh=<public/private>
ip_address_version_for_ssh=<4/6>
instance_disk_path=<path_of_instance_primary_disk>
connection_retry_interval=15
connection_timeout=600
split_ephemeral_disk_enabled=<True/False>
ephemeral_disk_max_size=<max_ephemeral_size>
resource_build_attempts=<num_of_retries>
disk_format_type=<desired_format_type>
personality_file_injection_enabled=<True/False>
default_file_path=<remote_path>

[config_drive]
openstack_meta_path=<path_to_openstack/latest/meta_data.json>
ec_meta_path=<path_to_ec2/latest/meta-data.json>
base_path_to_mount=<config_drive_path>
mount_source_path=<mount_source_path>
min_size=<min_size>
max_size=<max_size>
