# ======================================================
# reference.xml.config
# ------------------------------------------------------
# This configuration is specifically a reference 
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you 
# generate specific configurations and name the files
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[token_api]
serialize_format=xml
deserialize_format=xml
version=v2.0
username=admin
tenant_name=admin
password=password
authentication_endpoint=http://111.111.111.111:1000
