# Copyright 2013 Rackspace
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[user_auth_config]
endpoint=http://127.0.0.1:8080
strategy=saio_tempauth

[user]
username=test:tester
password=testing

[objectstorage_api]
# enabled_features - used to specify tests for features that are not
# configurable through middleware.  Tests docarated with
# ObjectStorageFixture.required_features will requilred all
# features in the tag to be listed here in order to be run.
# in addition to listing the features here, '__ALL__', '__NONE__' and
# '__ASK__' can be provided to run all features tests, run no features
# tests or ask swift what features are configured and run only those.
enabled_features=__NONE__

tempurl_key_cache_time=60
