[user_auth_config]
endpoint=http://127.0.0.1:8080
strategy=saio_tempauth

[user]
username=test:tester
password=testing

[objectstorage_api]
# proxy_pipeline - used to specify which middleware tests to run.  Tests
# decorated with ObjectStorageFixture.requiredMiddleware will requilred all
# middleware in the tag to be listed here in order to be run.
# in addition to listing the middleware here, the following options can be
# provided:
#   __ALL__ - Ignore the requiredMiddleware decorators.
#   __ASK__ - If the middlewarecheck middleware is configured
#             (https://github.com/hurricanerix/swift-middlewarecheck), The
#             tests will ask swfit what middleware is configured for the
#             proxy and use those values.  (This is only advised to be done for
#             swift all in one, and dev/testing boxes).
# Currently on a clean swift all in one, the proxy pipeline is as follows:
#    healthcheck cache tempauth proxy-logging proxy-server
# If proxy_pipeline is not defined in the config, it will default to __ALL__.
#proxy_pipeline=healthcheck cache tempauth proxy-logging proxy-server
proxy_pipeline=__ASK__

tempurl_key_cache_time=60
