# ======================================================
# devstack.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file for a Devstack
# implementation: http://devstack.org.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<VERSION>.config
# ======================================================

[user_auth_config]
endpoint=http://10.0.2.15:35357
strategy=keystone

# This should not be an admin user
[user]
username=demo
password=password
tenant_name=demo

[images_admin_user]
username=admin
password=password
tenant_name=admin

[images_secondary_user]
username=altdemo
password=password
tenant_name=altdemo

[images]
base_url=http://10.0.2.15:9292
image_status_interval=15
snapshot_timeout=900

# an image that is preloaded in your deployment of devstack
test_image=cirros-0.3.1-x86_64-uec

# default properties used in some tests
test_container_format=ami
test_disk_format=ami

# remote_image is an image file hosted remotely
remote_image=http://example.com/some_image.iso

# http_image is an image file that Glance will attempt to download
http_image=<http://download.cirros-cloud.net/0.3.1/cirros-0.3.1-arm-uec.targ.gz>
