# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[user_auth_config]
endpoint=<http://x.x.x.x:35357>
strategy=<keystone;raxauth;saio_tempauth>

# This should not be an admin user
[user]
username=<username>
password=<password>
tenant_name=<tenant_name>

[images_admin_user]
username=<username>
password=<password>
tenant_name=<tenant_name>

[images_secondary_user]
username=<username>
password=<password>
tenant_name=<tenant_name>

[compute_endpoint]
region=<region>
compute_endpoint_name=<compute_name>

[flavors]
primary_flavor=<flavor_id>
secondary_flavor=<different_flavor_id>

[images]
base_url=<http://x.x.x.x:9292>
primary_image=<image_id>
secondary_image=<different_image_id>
image_status_interval=15
snapshot_timeout=900
created_at_offset=300
updated_at_offset=300

# an image that is preloaded in your deployment for testing
test_image=<image_name>

# default properties used in some tests
test_container_format=<container_format>
test_disk_format=<disk_format>

# remote_image is an image file hosted remotely
remote_image=<http://example.com/some_image.iso>

# http_image is an image file that Glance should attempt to download
http_image=<http://download.cirros-cloud.net/0.3.1/cirros-0.3.1-arm-uec.targ.gz>

# image_schema_json is the path of the json file
# which contains the image schema data
image_schema_json=<.opencafe/data/image_schema.json>

# images_schema_json is the path of the json file
# which contains the images schema data
images_schema_json=<.opencafe/data/images_schema.json>
