# ======================================================
# reference.json.config
# ------------------------------------------------------
# This configuration is specifically a reference
# implementation for a configuration file.
# You must create a proper configuration file and supply
# the correct values for your Environment(s)
#
# For multiple environments it is suggested that you
# generate specific configurations and name the files
# along the lines of
# <ENVIRONMENT>.<FORMAT>.config
# ======================================================

[marshalling]
serialize_format=json
deserialize_format=json

[images]
base_url=<base_url>
primary_image=<image_id>
secondary_image=<different_image_id>
image_status_interval=<15>
snapshot_timeout=<900>
remote_image=<http://example.com/some_image.iso>
http_image=<http://download.cirros-cloud.net/0.3.1/cirros-0.3.1-arm-uec.tar.gz>
